.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: solid 1px gainsboro;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gainsboro;
  background-color: white;
  padding: 30px;
  margin-bottom: 50px;
}
