<section class="details-container">
  <div class="details-header">
    <div class="description">
      <h2>{{ car().brand }} - {{ car().model }}</h2>
      <span>ID: {{ car().id }}</span>
      <span>Total: {{ car().total }}</span>
    </div>

    <div class="buttons">
      <span appCarButton>Eliminar</span>
      <a appCarButton [routerLink]="['/cars/edit/', car().id]">Editar</a>
    </div>
  </div>

  <table>
    <caption>
      Stock de coches
    </caption>

    <thead>
      <tr>
        <th>Fecha de registro</th>
        <th>Año de fabricación</th>
        <th>Precio</th>
        <th>Kilometraje</th>
        <th>Matrícula</th>
        <th>Disponibilidad</th>
      </tr>
    </thead>
    <tbody>
      @for (detail of carDetails(); track $index) {
        <tr>
          <td class="text-align-center">
            {{ detail.registrationDate | date: "dd MMMM yyyy" }}
          </td>
          <td class="text-align-center">{{ detail.manufactureYear }}</td>
          <td class="text-align-right">
            {{
              detail.price
                | currency: detail.currency : "symbol-narrow" : "1.2-2"
            }}
          </td>
          <td class="text-align-right">
            {{ detail.mileage | number: "1.2-2" }} km
            <span class="tag" [ngClass]="setColorTagClass(detail.mileage)">{{
              detail.mileage | stateMielage
            }}</span>
          </td>
          <td class="text-align-center">{{ detail.licensePlate }}</td>
          <td
            class="color-availability-text text-align-center"
            [ngClass]="
              detail.availability
                ? 'availability-green-background'
                : 'availability-red-background'
            "
          >
            {{ detail.availability ? "Disponible" : "No disponible" }}
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
