<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>MODELO</th>
      <th>MARCA</th>
      <th>TOTAL</th>
      <th>ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    @for (car of cars(); track car.id) {
      <tr>
        <td>
          <a [routerLink]="['/cars', car.id]">{{ car.id }}</a>
        </td>
        <td>{{ car.brand }}</td>
        <td>{{ car.model }}</td>
        <td>{{ car.total }}</td>
        <td>
          <button appCarButton [cdkMenuTriggerFor]="menuActions">
            Acciones
          </button>

          <ng-template #menuActions>
            <div class="menu-actions" cdkMenu>
              <button class="menu-actions-item" cdkMenuItem>
                <a [routerLink]="['/cars/edit/', car.id]">Editar</a>
              </button>
              <button class="menu-actions-item" cdkMenuItem>Eliminar</button>
            </div>
          </ng-template>
        </td>
      </tr>
    }
  </tbody>
</table>
